<!DOCTYPE html>
<html>
<head>
<script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.1/angular.min.js"></script>
<script src="model.js"></script>
<meta name="description" content="Basic AngularJS example of data binding" />
  <meta charset="utf-8">
  <title>Angular TODO</title>
</head>
<body ng-app="myApp" ng-controller='firstController'>
   <i style="display: block;
			text-align: right;">{{clockHours}}:{{clockMinutes}}:{{clockSeconds}}</i>
  <br/><br/>
  <div ng-show="show_toast" style="color: red;" align="center">{{toast_text}}</div>
  <div>
  Enter your name:
  <input type="text" ng-model="name"></input>
  <input type="text" ng-model="lname"></input>
  <pre>The Email apprearing in the box below is set in ther model under user.email scope. The input box is also bind using the ng-model="user.email" such that it is alterable from both ends.</pre>
  <input type="text" ng-model="user.email"></input>
  </div>
  <div>Hello {{name}} {{lname}}</div>
  <br/>
  <br/>
  <br/>
  <div>Your Email is  {{user.email}} from <i>model.run</i></div>
  <button ng-click="play()" class="button" ng-show="!playing">Play</button>
  <button ng-click="stop()" class="button alert" ng-show="playing">Stop</button>
  Playing audio: <b>{{ playing }}</b>
  <br/>
  <br/>
  <br/>
  
  No. of Characters in GOT 
  <input type="button" ng-click="add()" value='Add'/>
  <input type="text" ng-model="def_count" size=1 disabled/>
  <input type="button" ng-click="sub()" value='Sub'/>

</body>
</html>
